<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console_root" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p: [%c] %m%n" />
        </Console>
        <Console name="console_com" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="jdbc.audit" level="warn" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Logger name="jdbc.resultset" level="warn" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <Logger name="jdbc.connection" level="warn" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>
        <!--<Logger name="com" level="warn" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>-->
        <!--<Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="console_com" />
        </Logger>&ndash;&gt;-->
        <Root level="INFO">
            <AppenderRef ref="console_root" />
        </Root>
    </Loggers>
</Configuration>